@model EmprestimoViewModel

<div class="modal fade" id="modalEmprestimo" tabindex="-1" role="dialog" aria-labelledby="modalEmprestimo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Empréstimo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="formModalEmprestimo" action="" method="post">
                        <input type="hidden" asp-for="Codigo" id="hddCodigo"/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CodigoAmigo" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="CodigoAmigo" asp-items="@(new SelectList(Model.Amigos, "Codigo", "Nome"))" class="form-control" id="ddlAmigosEmprestimo"></select>
                                <span asp-validation-for="CodigoAmigo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodigoTitulo" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="CodigoTitulo" asp-items="@(new SelectList(Model.Titulos, "Codigo", "Nome"))" class="form-control" id="ddlTitulosEmprestimo"></select>
                                <span asp-validation-for="CodigoTitulo" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnSalvarEmprestimo">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}