@model EmprestimoViewModel
@{
    ViewData["Title"] = "Empréstimos";
}

<div class="row">
    <div class="row" style="margin-top: 10px">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <button type="button" class="btn btn-primary" id="btnCadastrarEmprestimo">Cadastrar empréstimo</button>
        </div>
    </div>
    <div class="row">
        <h4>Empréstimos em andamento</h4>
        <hr/>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <table id="tabelaEmprestimosEmAndamento"></table>
        </div>
    </div>
    <div class="row">
        <h4>Empréstimos finalizados</h4>
        <hr/>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <table id="tabelaEmprestimosFinalizados"></table>
        </div>
    </div>


    @Html.Partial("_InformacoesEmprestimo", Model)
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" language="javascript" src="lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/emprestimo.js"></script>
}