@using Projeto.Models.JogoViewModels
@model ManutencaoJogoViewModel

<div class="modal fade" id="modalJogo" tabindex="-1" role="dialog" aria-labelledby="modalJogo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Jogo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="formModalJogo" action="" method="post">
                        <input type="hidden" asp-for="Codigo" id="hddCodigo"/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="Nome" class="form-control required" id="txtNomeJogo" maxlength="100"/>
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AnoLancamento" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="AnoLancamento" class="form-control required" id="txtAnoLancamentoJogo" maxlength="4" type="text"/>
                                <span asp-validation-for="AnoLancamento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodigoConsole" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="CodigoConsole" asp-items="@(new SelectList(Model.Consoles, "Codigo", "Descricao"))" class="form-control" id="ddlConsoleJogo"></select>
                                <span asp-validation-for="CodigoConsole" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnSalvarJogo">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}