@using Projeto.Models.JogoViewModels
@model JogoViewModel
@{
    ViewData["Title"] = "Jogos";
}

<div class="row">
    <h4>Jogos</h4>
    <hr />
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <table id="tabelaJogos"></table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <button type="button" class="btn btn-primary" id="btnCadastrarJogo">Cadastrar jogo</button>
    </div>
    @Html.Partial("_InformacoesJogo", new ManutencaoJogoViewModel { Consoles = Model.Consoles })
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" language="javascript" src="lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/jogo.js"></script>
}