@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col-md-12">
        <h2>Ofertas</h2>
        <div id="carrosel" class="carousel slide" data-ride="carousel" data-interval="0">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators"></ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner" id="tabelaPromocoes">

            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#carrosel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#carrosel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" language="javascript" src="~/js/home.js" asp-append-version="true"></script>
}