@{
    ViewData["Title"] = "Amigos";
}

<div class="row">
    <h4>Amigos</h4>
    <hr />
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <table id="tabelaAmigos"></table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <button type="button" class="btn btn-primary" id="btnCadastrarAmigo">Cadastrar amigo</button>
    </div>
    @Html.Partial("_InformacoesAmigo", new AmigoViewModel())
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" language="javascript" src="lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/amigo.js"></script>
}